* {
    margin: 0;
    padding: 0;
}

.register-body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.register-container {
    width: 350px; 
    margin: auto;
    padding: 32px 24px 24px; 
    border: none; 
    border-radius: 16px;
    background-color: #f1f7fe;
    box-shadow: 0px 0px 14px -2px #bebebe;
}

.register-form-group { 
    margin-bottom: 10px;
}

.register-label { 
    display: block;
    margin-bottom: 5px;
}

.register-input { 
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-button { 
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.register-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .register-body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    
    .register-container {
        max-width: 300px; 
        margin: auto;
        padding: 32px 24px 24px; 
        border: none; 
        border-radius: 16px;
        background-color: #f1f7fe;
    }
    
    .register-form-group { 
        margin-bottom: 10px;
    }
    
    .register-label { 
        display: block;
        margin-bottom: 5px;
    }
    
    .register-input { 
        width: 100%;
        padding: 8px; 
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .register-button { 
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease; 
    }
    
    .register-button:hover {
        background-color: #0056b3;
    }
}