*{
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 20px; 
    height: 60px;
    font-size: 16px; 
  }

.navbar-brand img {
  width: 40px; 
  height: auto; 
}
  
  @media (max-width: 768px) {

    .navbar {
      padding: 20px; 
      height: 90px;
      font-size: 16px; 
    }

    .navbar-brand img {
      width: 40px; 
      height: auto; 
    }

    .navbar-nav {
      flex-direction: column;
    }
    .navbar-nav .nav-item {
      margin-right: 0;
      margin-bottom: 5px;
    }
    .navbar-nav .nav-item:last-child {
      margin-bottom: 0;
    }

    #navbarSupportedContent {
        background-color: #ffffff; 
        border-radius: 10px; 
        padding: 10px; 
        margin-top: 20px; 
        border: 1px solid #ced4da; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }   
}
  